:root {
  --bg-dark: #262626;
  --text-light: #f0f0f0;
  --text-muted: #b3b3b3;
  --hover-bg: #333333;
  --active-bg: #3a1e1e;

  --p1-color: #ff4d4d;
  --p2-color: #ffa64d;
  --p3-color: #4da6ff;

  --font-main: 'Segoe UI', 'Inter', sans-serif;
}



.sidebar {
  width: 270px;
  height: 100vh;
  background-color: var(--bg-dark);
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  font-family: var(--font-main);
  font-size: 1rem;
  overflow: scroll;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.btmArea {
  height: 99%;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.userProfile {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  position: absolute;
  top: 4%;  

  .pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.7rem;
  }

  .userName {
    font-weight: 600;
    font-size: 1rem;
  }
}

.searchBar {
  width: 100%;
  padding: 0.6rem 0.9rem;
  border: none;
  border-radius: 8px;
  background-color: var(--hover-bg);
  color: var(--text-light);
  outline: none;
  margin-bottom: 0.5rem;
  font-size: 1rem;

  &::placeholder {
    color: var(--text-muted);
  }
}

.navItem {
  padding: 0.6rem 0.9rem;
  border-radius: 8px;
  margin-bottom: 0.3rem;
  cursor: pointer;
  transition: background 0.2s ease;
  display: flex;
  align-items: center;
  font-size: 1rem;

  &:hover {
    background-color: var(--hover-bg);
  }
}

.priorityRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.9rem;
  border-radius: 8px;
  margin-bottom: 0.3rem;
  transition: background 0.2s;
  cursor: pointer;

  &:hover {
    background-color: var(--hover-bg);
  }
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 0.8rem;
  display: inline-block;
}

.priorityLabel {
  flex: 1;
  font-size: 1rempx;
}

.count {
  color: var(--text-muted);
  font-size: 1rem;
}

.sectionTitle {
  font-size: 1rempx;
  font-weight: 600;
  color: var(--text-muted);
  margin-bottom: 0.3rem;
  margin-top: 1rem;
}

/* Dot Colors */
.p1 {
  background-color: var(--p1-color);
}

.p2 {
  background-color: var(--p2-color);
}

.p3 {
  background-color: var(--p3-color);
}

.divider {
  border: none;
  height: 1px;
  background-color: var(--hover-bg);
  margin: 1rem 0;
  opacity: 0.6;
}


a.active{
  background-color: var(--active-bg);
}