.sidebar {
  width: 270px;
  height: 100vh;
  background-color: var(--bg-dark);
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  font-family: var(--font-main);
  font-size: 1rem;
  overflow: scroll;
}



.sidebar::-webkit-scrollbar {
  display: none;
}

.btmArea {
  height: 99%;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.userProfile {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  position: absolute;
  top: 4%;

  .pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 0.7rem;
    image-rendering: auto;
    display: block;
    border: 2px solid #fff; // optional
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); // optional
  }


  .userName {
    font-weight: 600;
    font-size: 1rem;
  }
}


.searchBar {
  width: 100%;
  padding: 0.6rem 0.9rem;
  border: none;
  border-radius: 8px;
  background-color: var(--hover-bg);
  color: var(--text-light);
  outline: none;
  margin-bottom: 0.5rem;
  font-size: 1rem;

  &::placeholder {
    color: var(--text-muted);
  }
}

.navItem {
  padding: 0.6rem 0.9rem;
  border-radius: 8px;
  margin-bottom: 0.3rem;
  cursor: pointer;
  transition: background 0.2s ease;
  display: flex;
  align-items: center;
  font-size: 1rem;

  &:hover {
    background-color: var(--hover-bg);
  }
}

.priorityRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.9rem;
  border-radius: 8px;
  margin-bottom: 0.3rem;
  transition: background 0.2s;
  cursor: pointer;

  &:hover {
    background-color: var(--hover-bg);
  }
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 0.8rem;
  display: inline-block;
}

.priorityLabel {
  flex: 1;
  font-size: 1rempx;
}

.count {
  color: var(--text-muted);
  font-size: 1rem;
}

.sectionTitle {
  font-size: 1rempx;
  font-weight: 600;
  color: var(--text-muted);
  margin-bottom: 0.3rem;
  margin-top: 1rem;
}

/* Dot Colors */
.p1 {
  background-color: var(--p1-color);
}

.p2 {
  background-color: var(--p2-color);
}

.p3 {
  background-color: var(--p3-color);
}

.divider {
  border: none;
  height: 1px;
  background-color: var(--hover-bg);
  margin: 1rem 0;
  opacity: 0.6;
}



.logAndSettings {
  align-self: flex-end;
  // position: absolute;
  // bottom: 2%;
}

a.active {
  background-color: var(--active-bg) !important;
}

.iconUpcoming {
  font-size: 1.1em;
  // color: #00bcd4;
}

.iconBacklog {
  font-size: 1.1em;
  // color: #ff9800;
}

.iconHome {
  font-size: 1.1em;
  // color: #4caf50;
}

.iconFav {
  font-size: 1.1em;
  // color: gold;
}

.iconSticky {
  font-size: 1.1em;
  // color: #673ab7;
}

.iconPomodoro {
  font-size: 1.1em;
  // color: #f44336;
}

.iconSettings {
  font-size: 1.1em;
  // color: #607d8b;
}

.iconLogout {
  font-size: 1.1em;
  // color: #e91e63;
}