* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

#mainarea {
  height: 100vh;
  display: flex;
  position: relative;
}

#structureleft {
  height: 100%;
  width: 17%;
  border: 0.5px solid rgba(93, 92, 92, 0.525);
  background: white; 
  transition: all 3s ease;
  z-index: 2;
}
#structureleft:active{
  width: 0;
}

#structuremid {
  height: 100%;
  width: 60%;
  border: 0.5px solid rgba(93, 92, 92, 0.525);
  transition: all 0.3s ease;
  z-index: 1;
}

#structureright {
  height: 100%;
  width: 30%;
  border: 0.5px solid rgba(93, 92, 92, 0.525);
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  #structureright {
    display: none;
  }

  #structureleft {
    width: 40%; 
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10; 
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  }

  #structuremid {
    width: 100%;
  }
}
