.WorkingArea {
    height: 90%;
    width: 90%;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1280px) {
    .WorkingArea {
        height: 95%;
        width: 80%;

    }
}