@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
}

/* light mode  */
:root {
  --bg-dark: #ffffff;
  --text-light: #1a1a1a;
  --text-muted: #666666;
  --hover-bg: #f0f0f0;
  --active-bg: #ff5722;
  
  --p1-color: #ff4d4d;
  --p2-color: #ffa64d;
  --p3-color: #4da6ff;
  
  --font-main: "Segoe UI", "Inter", sans-serif;
  
  --menuBtn: black;
}
/* darkmode */
:root {
  --bg-dark: #262626;
  --text-light: #f0f0f0;
  --text-muted: #b3b3b3;
  --hover-bg: #333333;
  --active-bg: #ff5722;
  
  --p1-color: #ff4d4d;
  --p2-color: #ffa64d;
  --p3-color: #4da6ff;
  
  --font-main: "Segoe UI", "Inter", sans-serif;

  --menuBtn: white;
}

body{
  background-color:var(--bg-dark) ;
}